#campaignContainer {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.campaignCard {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    min-width: 300px;
    height: 150px;
    margin-right: 15px;
    margin-bottom: 25px;
    padding: 10px;
    border: #2d3748;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.campaignCard.active {
    background-color: green;
}
.campingCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#productForm {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

input {
    max-width: 300px;
    margin-top: 15px;
}

textarea {
    max-width: 300px;
    height: 300px;
    margin-top: 15px;
}

#productButton {
    max-width: 150px;
    margin-top: 15px;
}

#productContainer {
    margin-left: 750px;
    margin-top: 30px;
}
